@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p><b>Result of Case 1 : </b>$@ViewBag.Scenario1</p>
    <p><b>Result of Case 2 : </b>$@ViewBag.Scenario2</p>
    <p><b>Result of Case 3 : </b>$@ViewBag.Scenario3</p>
</div>
